.experience {
  padding-top: 10.3rem;

    &__wrapper {
      @include flex(space-around);
    }

    // .experience__content

    &__content {
      padding-top: 2rem;
    }

    // .experience__title

    &__title {
    }

    // .experience__text

    &__text {
     line-height: 3.5rem;
     max-width: 60rem;
    }

    // .experience__image

    &__image {
    }
}
.wrapper {
}
.title {
}
.text {
}
