.help {
    padding-top: 4rem;
    padding-bottom: 10rem;
    flex-wrap: wrap;
    // .help__wrapper

    &__wrapper {
      @include flex(space-between);

    }

    // .help__left

    &__left {
    }

    // .help__right

    &__right {
        @include flex(flex-end, flex-end);
        flex-direction: column;
        row-gap: 3.8rem;
    }

    // .help__image

    &__image {
    }
}
.wrapper {
}
.title {
}
.help-choise {
    @include width-height(33.2rem, 28.2rem);
    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 1rem;

    // .help-choise__input

    &__input {
    }
}
.button {
}
