.title {
  @include font(4rem, 'Inter', 400);
  color: $title-sub-color;
  max-width: 46.3rem;
  word-spacing: 0.005rem;
  letter-spacing: 0.01rem;
  & span {
    color:$main-color;
  }
}

.main-title {
  @include font(4.5rem, 'Inter', 600);
  max-width: 54.9rem;
  color: $title-color;
  & span {
    color: $title-sub-color;
  }
}



