.wrapper {
   padding: 0 10.9rem; 
   max-width: 122.2rem;
   @include media-tablet {
    padding: 0 5rem; 
    max-width: 66.8rem;
   }
   @include media-mobile {
    padding: 0 2.5rem; 
    max-width: 33rem;
   }
}